.navbar{
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 8px;
  background-color: darkseagreen;
}
p 
{font-family: Arial, Verdana, sans serif;
}
article {
font-family: Arial, Verdana, sans serif;
}
h1 {
text-align: center
} 
h2 [ 
text-align: left
]
a [
text-decoration: none
]

